<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="users edit">
  <h2>Edit User</h2>

  <%= form_for(@user) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update User") %>
    </div>

  <% end %>
</div>
<%= link_to("Logout", access_logout_path) %>
