<% @page_title = "All Users" %>
<div class="users index">
  <h2>Users</h2>
  <%= image_tag('plus_sign.png', :size => '11x11', :alt => '+') %>
  <%= link_to("Add New User", new_user_path, :class => 'action new') %>

  <div><%= pluralize(@users.size, 'user') %> found</div>

  <table class="listing" summary="Users list">
    <tr class="header">
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <% @users.sorted.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.username %></td>
      <td><%= mail_to(user.email) %></td>
      <td class="actions">
        <%= link_to("Edit", edit_user_path(user), :class => 'action edit') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
