<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="users new">
  <h2>Create User</h2>

  <%= form_for(@user, :url => users_path, :method => 'post') do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create User") %>
    </div>

  <% end %>
</div>
<%= link_to("Logout", access_logout_path) %>
